@media screen and (min-width: 750px) {
    /* Navigation */

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    /* Menu Hamburger */

    #button {
        display: none;
    }
    
    ul.links, ul.links .open {
        display: flex;

    }

    /* Main */

    .intro {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white);
    }

    .box-section {
        display: grid;
        
    }
    
    /* Footer*/

    footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    }

    .footer-info {
        grid-column: 1 / 3;
        padding: 1rem;
    }

    /* -------------------------------------------------------> Discover <------------------------------------------------------- */
    .discover {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    /* -------------------------------------------------------> Discover <------------------------------------------------------- */
    .container-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
      }

}