* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
}

main h1 {
    display: flex;
    border-bottom: 3px solid black;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

main h2 {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    text-align: center;
    padding: 5px;
}

header {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.header-picture {
    margin: 5px;
    padding: 5px;
}

nav {
    position: relative;
}

nav ul {
    background: black;
    margin: 10px;
}

nav a:hover {
    background-color: white;
    color: black;
}

nav li {
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    width: 100%;
    height: 5rem;
}

#menu::before {
    content: "☰";
    font-size: 3rem;
}

#menu.open::before {
    content: "❎";
}

.navigation li {
    display: none;
}

.open li {
    display: block;
    width: 100%;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.info-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin: 10px;
    padding: 10px;

}

.activity {
    border: 3px solid black;
    padding: 5px;
    background-color: rgba(17, 31, 45, 0.5);
    border-radius: 1rem;
    box-shadow: 5px 10px 1.5px gray;
    padding-block: 1em;
    padding-inline: 1em;

}

.Week {
    display: flex;
    justify-content: center;
}


li {
    list-style-type: none;
}

.weather {
    border: 3px solid black;
    padding: 5px;
    background-color: rgba(17, 31, 45, 0.5);
    border-radius: 1rem;
    box-shadow: 5px 10px 1.5px gray;
    padding-block: 1em;
    padding-inline: 1em;
}

.place {
    display: flex;
    justify-content: center;
}

footer {
    margin: 10px;
    padding: 10px;
    background-color: black;
    text-align: center;
    color: white;
}

p {
    margin: 5px;
}