@media (min-width: 750px) {
    .cards {
        grid-template-columns: 70% 30%;
    }

    .map {
        grid-column: 1/3;
    }

    /* Navigation */

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    .active {
        background-color: black;
    }

    .home {
        color: yellow;
    }

    .home:hover {
        color: black;
    }

    /* Menu Hamburger */

    #button {
        display: none;
    }
    
    ul.links, ul.links .open {
        display: flex;

    }

    /*Footer*/
    
    .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
}